html
  head
    link(rel= "stylesheet", href="https://cdn.clarkhacks.com/reveal/3.4.1/css/reveal.css")
    link(rel= "stylesheet", href="https://cdn.clarkhacks.com/reveal/3.4.1/css/theme/black.css")
    link(rel= "stylesheet", href="css/style.css")
  body
    .reveal
        .slides
            section(data-transition="zoom")
                h1(data-autoslide="500") Aunt Jemima
                h3.fragment.fade-in By Clark Weckmann
            section
                section
                    h1 Early Life
                    hr
                    img(src="https://goo.gl/QfjOMX", alt="AuntJem").fragment.grow
                section
                    h1 Nancy Green was born on March 4th, 1834
                section
                    h3 She was a slave who doesn't have much documentation. She wouldv'e done simple jobs such as cleaning, cooking, and being a nanny figure.
            section
                section
                    h1 Family
                    h3.fragment.fade-up She was the aunt to Nelson Hayes’ and thecgreat-aunt to Luroy, Walter, Maurice, Helen and William Hayes
                section
                    h3 I have no idea who these people are, even google didn't. So yeah.  
            section
                h1 Career
                p Nancy green moved to Chicago (around the middle of her life) to work for a judge as a nanny. 
            section(data-background-image= "img/cwfw.jpg")
                h1 Chicago Fair
                hr
    script(src= "https://cdn.clarkhacks.com/reveal/3.4.1/lib/js/head.min.js")
    script(src= "https://cdn.clarkhacks.com/reveal/3.4.1/js/reveal.js")
    script(src= "https://www.gstatic.com/firebasejs/3.7.1/firebase.js")
    script(src= "js/index.js")
