html {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0, rgba(66, 245, 189, 0.4) 100%);
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
}

.no-pad {
  padding: 0 !important;
}

[ripple] {
  z-index: 1;
  position: relative;
  overflow: hidden;
}
[ripple] .ripple {
  position: absolute;
  background: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  animation: ripple 1.6s;
}

@-webkit-keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0.2;
  }
  100% {
    transform: scale(40);
    opacity: 0;
  }
}
@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0.2;
  }
  100% {
    transform: scale(40);
    opacity: 0;
  }
}
.tabs {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  bottom: 10px;
  top: 10px;
  right: 10px;
  left: 10px;
  position: absolute;
}

.tabs-header {
  position: relative;
  background: #4285f4;
  overflow: hidden;
}
.tabs-header .border {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #f4b142;
  width: auto;
  height: 2px;
  transition: 0.3s ease;
}
.tabs-header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: -1em;
}
.tabs-header li {
  transition: 0.3s ease;
  width: 33.33333%;
  text-align: center;
}
.tabs-header a {
  z-index: 1;
  display: block;
  box-sizing: border-box;
  padding: 15px 20px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.tabs-content {
  position: relative;
  transition: 0.3s ease;
}
.tabs-content:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  box-shadow: 0 0 20px 10px #ffffff;
}
.tabs-content .textbox {
  width: 100%;
  height: 100%;
  overflow: auto;
  resize: none;
  font-size: 1em;
}
.tabs-content .todo-input {
  width: 100%;
}
.tabs-content iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tabs-content .button-app {
  height: 100%;
  width: 100%;
}
.tabs-content .button-app i {
  font-size: 1.5em;
  float: left;
  position: relative;
  margin-top: 10px;
}
.tabs-content .tab {
  display: none;
  padding: 10px;
}
.tabs-content .tab.active {
  display: block;
}

.cp-fab {
  background: #ffffff !important;
  color: #4285f4 !important;
}
