body {
  background-color: #f5f5f5;
  font-size: 1.4em;

}
p {
  border: none;
  marign: 0;
  font-family: Quicksand;
  overflow: auto;
}


.createBtn {
  float: right;
  position: relative;
  margin-right: 3px;
  margin-bottom: 3px;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: right;
}
