doctype html
html
  head
    meta( name= "viewport" content = "width=device-width, initial-scale=1")
    - var docTitle = "test"
    title #{docTitle}
  body
    h1 Rough data
    p This data may not be accurate, I am still fine-tuning this script.
    p#ip
    p#hostname
    p#city
    p#region
    p#country
    p#org
    p#post
    p#batteryStat
    p#batteryLev
    p#log
      script(src= "https://code.jquery.com/jquery-3.1.1.min.js")
      script(src = "https://www.gstatic.com/firebasejs/3.7.0/firebase.js")
      script(src = "test.js")
