.container
  .page-header
    .row
      h1.title ClarkHacks Apps
  .form-inline
    .form-group
      input#searchInput.form-control(type='search' placeholder='Search')
  #searchable
    .row
      .four.columns.name Any Image
      .four.columns
        p Any Image is a free semi-private image hosting platform. You create your own folder by simply changing the url hash (#).
      .four.columns
        a(href="https://apps.clarkhacks.com/any-image/" class="button")
          |Open App
    .row
      .four.columns.name Notes (C-Bin)
      .four.columns
        p C-Bin is a proof of concept. It take your note, encodes it with base64, appends it to the url hash and finally generate a unique short Url for sharing.
      .four.columns
        a(href="https://apps.clarkhacks.com/bin/" class="button")
          |Open App
    .row
      .four.columns.name Bob Ross Quotes
      .four.columns
        p Generate Bob Ross quotes with the click of a button!
      .four.columns
        a(href="https://apps.clarkhacks.com/bob_ross/" class="button")
          |Open App
    .row
      .four.columns.name Bob Ross Memes
      .four.columns
        p Turns Bob Ross quotes into Memes!
      .four.columns
        a(href="https://apps.clarkhacks.com/bob_ross/meme/" class="button")
          |Open App
    .row
      //- .four.columns.name Chat
      //- .four.columns
      //-   p Desc
      //- .four.columns
      //-   a(href="XX" class="button")
      //-     |Open App
    .row
      .four.columns.name Chat 2.0
      .four.columns
        p A simple, mobile friendly, chat app using Google's Firebase as a backend.
      .four.columns
        a(href="https://apps.clarkhacks.com/chat2" class="button")
          |Open App
    .row
      .four.columns.name Clark.exe
      .four.columns
        p This is a Boot Screen of my brain.
      .four.columns
        a(href="https://apps.clarkhacks.com/clark.exe/?run" class="button")
          |Open App
    .row
      .four.columns.name Clowning Around
      .four.columns
        p A sad clown attempts suicide.
      .four.columns
        a(href="https://apps.clarkhacks.com/clowning-around/" class="button")
          |Open App
    .row
      .four.columns.name Gifie
      .four.columns
        p Take quick gifs with your camera!(Not my property)
      .four.columns
        a(href="https://apps.clarkhacks.com/gifie/" class="button")
          |Open App
    .row
      .four.columns.name Markdown Editor
      .four.columns
        p A side-by-side markdown editor (not mobile friendly).
      .four.columns
        a(href="https://apps.clarkhacks.com/markdown-editor" class="button")
          |Open App
    .row
      .four.columns.name MDE (Markdown Editor)
      .four.columns
        p A hosted Simple Markdown Editor (MDE).
      .four.columns
        a(href="https://apps.clarkhacks.com/mde/" class="button")
          |Open App
    .row
      .four.columns.name PeOs
      .four.columns
        p An Operating System MockUp (Not my Property I just think it's awesome)
      .four.columns
        a(href="https://apps.clarkhacks.com/PeOs/" class="button")
          |Open App
    .row
      .four.columns.name Post Writer
      .four.columns
        p A blog post writer for Jekyll.
      .four.columns
        a(href="https://apps.clarkhacks.com/post-writer/" class="button")
          |Open App
    .row
      .four.columns.name Quick Text
      .four.columns
        p Need to share simple text between devices quickly? Use this live shared textbox!
      .four.columns
        a(href="https://apps.clarkhacks.com/quick-text/" class="button")
          |Open App.name
    .row
      .four.columns.name Short Url
      .four.columns
        p My custom URL shortener.
      .four.columns
        a(href="https://apps.clarkhacks.com/shorturl/" class="button")
          |Open App
    h6.moreinfo For more options visit the 
      a(href="https://github.com/clarkhacks/APPS") git repo
      |.
  hr