doctype html
html
  head
    meta( name= "viewport" content = "width=device-width, initial-scale=1")
    - var docTitle = "test"
    title #{docTitle}
  body
    h1 Rough data
    p This data may not me accurate, I am still fine-tuning this script.
    p#ip.
    script(src= "https://code.jquery.com/jquery-3.1.1.min.js")
    script(src = "test.js")
